
/* basic layout of containers for whole page */
.container {
    border: solid 2px black;
    padding: 1em;
    margin: 1em;
}

#dashboard{
    padding: 0;
}

.eventsContainer{
    height: 20em;
}

.newsContainer{
    height: 20em;
}

.taskChatContainer{
    display: flex;
     height: 20em; 
 } 

.taskContainer{
    width: 60%;
    height: 20em;
}

.chatContainer{
    width: 40%;
    background-color: darkblue;
    border: inset 1px black;
    height: 20em;
}

/* basic layout of chat screen, button, and input */
#messageScreen {
    border: inset 1px black;
    background-color: lightgrey;
    height: 90%;
    overflow: scroll;
}

#chatInputContainer {
    border: inset 1px black;
    height: 15%;
    /* padding: 5px; */
    background-color: rgb(93, 93, 134);
}

#message {
    border: inset 1px black;
    width: 80%;
    height: 95%;
}

#timestamp-output{
font-size: xx-small;
}

.editMessage-btn {
    font-size: xx-small;
}

/* added css in an effort to make chat bubbles.  delete from here down if it is an issue */
.chat-box{
    padding: 30px 15px 5px;
    display: inline-block;
    text-align: center;
    clip-path: polygon(0% 20%, 40% 20%, 50% 0%, 60% 20%, 100% 20%, 100% 100%, 0% 100%);
    font: bold 15px system-ui;
    background-color: rgb(60, 61, 61);
    color: whitesmoke;
}

.speech-container{
    filter: drop-shadow(5px 0px 5px rgba(0, 0, 0, 0.3));   
}
 


