.container {
    border: solid 2px black;
    padding: 1em;
    margin: 1em;
}

#dashboard{
    padding: 0;
}

.eventsContainer{
    height: 20em;
}

.newsContainer{
    height: 20em;
}

.taskChatContainer{
    display: flex;
    height: 20em;
}

.taskContainer{
    width: 60%;
}

.chatContainer{
    width: 40%;
}

.single-entry{
    display: flex;
}

#eventsContainer{
    overflow-y: scroll;
    height: 15em;
}
